* {
  margin: 0;
  padding: 0; }

@media (min-height: 0px) and (max-height: 445px) {
  .maintenance {
    margin-top: 0%; } }
@media (min-width: 657px) {
  .modal-dialog {
    max-width: 1000px !important;
    min-width: 40rem; } }
@media (min-width: 0px) and (max-width: 768px) {
  .main-container .portfolio .project {
    min-width: 17rem !important; }
  .main-container .portfolio .mt-mobile-1 {
    margin-top: 1rem; } }
@media (min-height: 445px) and (max-height: 533px) {
  .maintenance {
    margin-top: 11%; } }
@media (min-height: 533px) and (max-height: 564px) {
  .maintenance {
    margin-top: 23%; } }
@media (min-height: 564px) and (max-height: 564px) {
  .maintenance {
    margin-top: 34%; } }



html, body {
  background-color: #ffffff; 
  width: 100%;
  height: 100%; 
}
h1, h2, h3, p {
  color: #0e222b;
}
a {
  color: #5b8f5e;
}
a:hover {
  color: #264439;
}
.border-1 {
  border: 1px solid; 
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}
.mastercontainer {
  width: 100%;
  height: 100%; 
}
.mastercontainer .leftbar-fixed {
  background-color: #0e222b;
  width: 16rem;
  height: 100%;
  padding: 3rem 1.5rem;
  display: inline-block;
  position: fixed; 
}
.mastercontainer .leftbar-fixed.-left {
  float: left; 
}
.mastercontainer .leftbar-fixed.-developer .info p, h2 {
  color: #ffffff;
  text-align: center; 
}
.mastercontainer .leftbar-fixed.-developer .info figure.picture img.profile {
  width: 12rem;
  height: 12rem;
  margin: 1.5rem auto;
  display: block;
}
.mastercontainer .leftbar-fixed.-developer .info .about {
  font-size: .9rem; 
  margin-top: 40px;
}
.mastercontainer .leftbar-fixed.-developer .info .socialmedia {
  text-align: center;
  font-size: .9rem;
  margin-top: 100px; 
  padding-left: 6px; 
  padding-right: 6px;
}
.mastercontainer .leftbar-fixed.-developer .info .socialmedia a {
  margin-right: 1.7rem;
}
.mastercontainer .leftbar-fixed.-developer .info .developer {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0; 
}
.mastercontainer .main-container {
  display: inline-block;
  padding: 1rem 0rem 1rem 0rem;
  margin: 0rem 2rem; 
}
.portfolio .section .list .preview:nth-child(-n+2) {
    width: 49%;
    height: 260px;
}
.portfolio .section .list .preview {
    width: 32.5%;
    background: #0e222b;
    position: relative;
    height: 220px;
    margin: 0.25% 0.25% 0.25% 0.25%;
    float: left;
    cursor: pointer;
    overflow: hidden;
}
.portfolio .section .list .preview .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	opacity: 0.9;
	transition: opacity 0.25s, transform 0.25s;
}
.portfolio .section .list .preview h3 {
	position: absolute;
	width: 90%;
	left: 5%;
	top: 30%;
	transform: translate(0, -50%);

	text-align: center;
	text-transform: uppercase;
	color: #fff;
	opacity: 0;
	margin: 0;
	padding: 0;

	transition: opacity 0.25s, top 0.25s;
}
.portfolio .section .list .preview:hover .bg { opacity: 0.25; transform: scale(1.2, 1.2); }
.portfolio .section .list .preview:hover h3 { opacity: 1; top: 50%; }
.works .work .postcard
{
	width: 100%;
	height: 120px;
	background-size: cover;
	background-position: center center;
}
.works .work h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.works .work {
  margin: 0rem 4rem;
}
ul {
  float: left;
  list-style-type:none
}
.screenshot {
  float: left;
	height: 260px;
}
.details {
  padding-left: 2rem;
  padding-right: 2rem;
}
.details li {
  margin: 0.5rem;
}
.inline-images {
  float: left;
  padding: 4rem 0rem;
}
.inline-images img {
  width: 160px;
  height: 160px;
}
.info {
  padding: 1rem 0rem;
}
.works .work h2, p{
  color: black;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */
